@font-face {
  font-family: 'bariolregular';
  src: url('../fonts/bariol_regular-webfont.eot'), url('../fonts/bariol_regular-webfont.woff2') format('woff2'), url('../fonts/bariol_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bariolitalic';
  src: url('../fonts/bariol_regular_italic-webfont.eot'), url('../fonts/bariol_regular_italic-webfont.woff2') format('woff2'), url('../fonts/bariol_regular_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "bariolregular", Helvetica, Arial, sans-serif;
}
h1 {
  color: white;
  font-size: 60px;
  margin-bottom: 10px;
  font-weight: bold;
}
h1 + p {
  color: white;
  font-size: 20px;
  line-height: 24px;
}
h2 {
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: bold;
}
h2 + p {
  font-size: 20px;
  line-height: 24px;
}
h3 {
  font-size: 25px;
  margin-bottom: 10px;
}
h3 + p {
  font-size: 18px;
  line-height: 21px;
}
.header {
  background: #eb4f4e;
}
.header__navbar {
  background: #f56262;
}
.navbar {
  background: #f56262;
  padding: 15px 0 0 0;
  border: none;
}
.navbar__shape {
  float: right;
  margin-top: -15px;
  z-index: 5;
}
.navbar-nav {
  margin-right: 15px;
  padding-top: 5px;
}
.logo {
  vertical-align: bottom;
}
.logo span {
  display: inline-block;
  vertical-align: bottom;
  line-height: 28px;
  font-size: 35px;
  font-weight: bold;
  color: #fff;
}
.logo .logo__bottom {
  font-size: 18px;
}
.logo a:hover {
  text-decoration: none;
}
.logo a:hover span {
  color: black;
}
.navbar-default .navbar-nav > li > a {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
}
.navbar-default .navbar-nav > li > a:hover {
  color: white;
  background: black;
}
.carousel-control {
  top: 250px;
}
.carousel-control.left {
  background: none;
}
.carousel-control.right {
  background: none;
}
.merits {
  background: #232324;
  padding-top: 60px;
  padding-bottom: 25px;
}
.merits h2 {
  color: white;
}
.merits h2 + p {
  color: #d94948;
}
.merits h3 {
  color: white;
}
.merits h3 + p {
  color: #e74c3c;
}
.merits-list {
  margin-top: 35px;
}
.merits__item {
  padding: 0 30px;
  margin-top: 10px;
}
.fadeInUp,
.fadeOutDown {
  visibility: visible;
}
.delay-05s {
  animation-delay: .5s;
}
.delay-1s {
  animation-delay: 1s;
}
.team {
  background: #6cc372;
  padding-top: 60px;
  padding-bottom: 25px;
}
.team h2 {
  color: white;
}
.team h2 + p {
  color: #232324;
}
.team h3 {
  color: #61af66;
}
.team h3 + p {
  color: #e74c3c;
}
.team-list {
  margin-top: 35px;
}
.team__item {
  padding: 25px 10px 10px 10px;
  background: white;
  border-radius: 10px;
  margin-top: 10px;
}
.team__item > img {
  border: 10px solid #6cc372;
  border-radius: 50%;
}
.team__item a {
  width: 100%;
  background: #6cc372;
  font-size: 24px;
  line-height: 26px;
  color: white;
  position: relative;
}
.team__item a img {
  position: absolute;
  left: 15px;
}
.portfolio {
  background: #f0f0f0;
  padding-top: 60px;
  padding-bottom: 210px;
  position: relative;
}
.portfolio h2 {
  color: #616161;
}
.portfolio h2 + p {
  color: #61af66;
}
.portfolio .carousel-inner {
  padding: 0 30px;
}
.portfolio-list {
  margin-top: 35px;
  padding-bottom: 40px;
}
.portfolio__item {
  margin-top: 10px;
}
.portfolio__item p {
  margin-top: 35px;
  color: #232324;
  font-weight: bold;
}
.carousel-indicators {
  position: absolute;
  bottom: 0px;
}
.carousel-indicators li {
  background: #232324;
}
.carousel-indicators .active {
  background: #6cc372;
}
.pricing {
  background: #fff;
}
.pricing__bottom-text {
  display: block;
  font-size: 20px;
  color: #e74c3c;
  margin: 30px 0;
}
.pricing-list {
  margin-top: -165px;
}
.pricing__item {
  list-style: none;
}
.pricing__item li {
  padding: 15px 30px;
}
.pricing__item h2 {
  color: #616161;
}
.pricing__item h2 + p {
  color: #e74c3c;
}
.pricing__item--bottom {
  margin-top: 25px;
}
.pricing__item--middle .gear {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translatex(-50%);
}
.pricing__item--middle h2 {
  color: #e74c3c;
}
.pricing__item--middle h2 + p {
  color: #616161;
}
.pricing__item--middle .pricing__item-bottom {
  background: #e74c3c;
}
.pricing__item-top {
  background: #fff;
  border-radius: 10px 10px 0 0;
}
.pricing__item-center {
  position: relative;
  background: #f0f0f0;
  border-top: 1px solid #616161;
}
.pricing__item-bottom {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #616161;
  border-radius: 0 0 10px 10px;
}
.pricing__item-price {
  font-size: 64px;
  font-weight: bold;
  color: #fff;
}
.pricing__item-price small {
  color: #fff;
  font-size: 24px;
}
.pricing__item-order {
  font-size: 21px;
  font-weight: bold;
  color: #616161;
  background: #fff;
}
.pricing__item-order:hover {
  background: #f56262;
}
.col-xs-12 .pricing__item {
  padding: 15px 0px;
}
.col-xs-12 .pricing__item li {
  padding: 15px 0px;
}
.tweets {
  background: #eb4f4e;
  padding: 25px 0;
}
.tweets h2 {
  color: #fff;
}
.tweets h2 + p {
  color: #232324;
}
.tweets__icon {
  margin: 30px auto;
}
.tweets__item {
  font-size: 21px;
  font-style: italic;
  color: #fff;
}
.tweets__item span {
  font-style: normal;
  color: #232324;
}
.tweets .carousel-control {
  top: 100px;
}
.footer {
  background: #232324;
  padding: 20px 0 15px;
}
.footer__copyright {
  float: left;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.footer__copyright span {
  color: #e74c3c;
}
.footer__social {
  float: right;
}
.footer__icons {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  background: #f56262;
  border-radius: 3px;
}
.footer__icons:hover {
  background: #616161;
}
.footer__icons img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contact {
  position: relative;
  background: #232324 url(../img/map.png) no-repeat 50% 50%;
  background-size: cover;
  height: 299px;
}
.contact__us {
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}
.contact__us__middle {
  margin: 25px auto;
}
.contact h3 {
  color: #fff;
}
.contact h3 ~ p {
  color: #e74c3c;
}
@media (max-width: 768px) {
  .navbar-nav {
    margin-right: -15px;
  }
  .carousel-control img {
    width: 19px;
    height: 36px;
  }
  .portfolio .carousel-control {
    top: 590px;
  }
}
@media (max-width: 992px) {
  .pricing__item-top {
    background: #232324;
  }
}
